<div class="container">
  <div class="row">
        <div class="container">
           <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Signed in successfully.
          </div>  
        </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>
        <div class="form-group">
          <%= f.label :name_cont, "Name contains" %>
          <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
        </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
      
      <a href="/dishes" class="btn btn-secondary btn-block mb-1">
        Clear filters
      </a>
      <% end %>
      
      <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
        Show Filters
      </a>
    </div>
    
    <div class="col-md-6">
      <div class="card">
        <table class="table table-striped table-hover">
          <tr>
            <th>The very best ...</th>
            <th>is at...</th>
            <th></th>
            <th></th>
          </tr>
          <% @dishes.each do |dish| %>
            <tr>
              <td> <!-- Dish Name --> 
                <a href="/dishes/<%= dish.id %>"><%= dish.name %></a>
              </td>
              <td>
                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1">
                  <option>
                    Choose a venue...
                  </option>
                  <option value=<%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name, @dishes.try(:venue_id)), :class => "form-control") %>
              </td>
              <td>
                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </td>
              <td>
                <% if dish.cuisine.present? %>
                  <span class="badge badge-primary">
                    <%= dish.cuisine.name %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <div class="card-footer text-center"></div>
      </div>
    </div>
    
    <div class="col-md-3">
      <a href="/venues/new" class="btn btn-secondary btn-block mb-1 btn-success">Add a new venue</a>
    </div>
    
  </div>
</div>
